In [5]:
import mysql.connector

ModuleNotFoundError: No module named 'mysql'

In [ ]:
import mysql.connector

mydb=mysql.connector.connect(
    host="localhost"
)

In [12]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\anaconda3\lib\site-packages (8.0.19)
Requirement already satisfied: dnspython==1.16.0 in c:\users\user\anaconda3\lib\site-packages (from mysql-connector-python) (1.16.0)
Requirement already satisfied: protobuf==3.6.1 in c:\users\user\anaconda3\lib\site-packages (from mysql-connector-python) (3.6.1)
Requirement already satisfied: setuptools in c:\users\user\anaconda3\lib\site-packages (from protobuf==3.6.1->mysql-connector-python) (41.4.0)
Requirement already satisfied: six>=1.9 in c:\users\user\anaconda3\lib\site-packages (from protobuf==3.6.1->mysql-connector-python) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import mysql.connector

In [11]:
import mysql.connector

mydb= mysql.connector.connect(
 host="localhost",
 user="root",
 password="home1112"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001B7EEDF84C8>

In [23]:
import mysql.connector

mydb= mysql.connector.connect(
 host="localhost",
 user="root",
 password="home1112"
)

mycursor=mydb.cursor()
mycursor.execute("SHOW DATABASES")

for x in mycursor:
    print(x)

('book',)
('information_schema',)
('mysql',)
('performance_schema',)
('sanket',)
('sys',)

In [25]:
import mysql.connector

mydb=mysql.connector.connect(
 host="localhost",
 user="root",
 password="home1112",
 database="book"
)

mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE customers(name varchar(255), adress varchar(255))")

In [26]:
import mysql.connector

mydb=mysql.connector.connect(
  host="localhost",
    user="root",
    password="home1112",
    database="book"
)

mycursor=mydb.cursor()
mycursor.execute("show tables")

for x in mycursor:
    print(x)

('book',)
('college',)
('customers',)
('hotel',)
('student',)
('student1',)

In [37]:
import mysql.connector

mydb=mysql.connector.connect(
 host="localhost",
 user="root",
 password="home1112",
 database="book"
)

mycursor=mydb.cursor()

sql="INSER INTO customers (name, address) VALUES(%s,%s)"
val=("ramy","highway 21")

mycursor.execute(sql,val)

mydb.commit()

print(mycursor.rowcount,"record inserted.")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'INSER INTO customers (name, address) VALUES('ramy','highway 21')' at line 1

In [39]:
import mysql.connector

mydb=mysql.connector.connect(
 host="localhost",
 user="root",
 password="home1112"
)

print(mydb.connection_id)

38

In [40]:
import mysql.connector

mydb=mysql.connector.connect(
 host="localhost",
 user="root",
 password="home1112"
)
cur=mydb.cursor()
cur.execute("CREATE DATABASE db1")

In [42]:
import mysql.connector

mydb=mysql.connector.connect(
 host="localhost",
    user="root",
    password="home1112",
    database="db1"
)

cur=mydb.cursor()
s="CREATE TABLE book(book_id int(4), title varchar(20),price float(5,2))"
cur.execute(s)

In [46]:
import mysql.connector

mydb=mysql.connector.connect(
 host="localhost",
 user="root",
 password="home1112",
 database="db1"
)

cur=mydb.cursor()
s="INSERT INTO book(book_id,title,price) VALUES(%s,%s,%s)"
books=[(2,"Javascript",450),(3,"php",899),(4,"Node",300)]

cur.executemany(s,books)
mydb.commit()

In [52]:
import mysql.connector

mydb=mysql.connector.connect(
 host="localhost",
    user="root",
    password="home1112",
    database="db1"
)

cur=mydb.cursor()
s="INSERT INTO book(book_id,title,price) VALUES(%s,%s,%s)"
books=[(5,"html",300),(6,"css",250)]
cur.executemany(s,books)
mydb.commit()

In [56]:
import mysql.connector

mydb=mysql.connector.connect(
 host="localhost",
    user="root",
    password="home1112",
    database="db1"
)

cur=mydb.cursor()
s="SELECT * FROM book"
cur.execute(s)
result=cur.fetchall()

for rec in result:
   print(rec)
mydb.commit()

(1, 'python', 555.0)
(2, 'Javascript', 450.0)
(3, 'php', 899.0)
(4, 'Node', 300.0)
(5, 'html', 300.0)
(6, 'css', 250.0)

In [59]:
import mysql.connector

mydb=mysql.connector.connect(
 host="localhost",
    user="root",
    password="home1112",
    database="db1"
)

cur=mydb.cursor()
s="DELETE FROM book where title='css'"
cur.execute(s)
mydb.commit()